
<div class="container">
	<div class="row">
		<section class="col-lg-2"></section>
		<section class="col-lg-11">
			<h3><%= @user.name %>さんがフォローしているユーザです</h3>
			<table class="follow-index">
				<% @users.each do |user| %>
				    <% if current_user != user %>
				    	<tr>
					    	<td><% if user.image_id? %>
								<%= attachment_image_tag user, :image, :fill, 70, 70, format: 'jpeg', style: "border-radius: 50%;" %>
							<% else %>
								<%= image_tag('image/no-image.png', style: "width: 70px; height: 70px; border-radius: 50%;") %>
							<% end %></td>

				    		<td><p><%= user.name %></p></td>

					        <td>
						        <div id="relationships_show_buttons_<%= user.id %>">
			 						<%= render partial: 'users/relationship_show', locals: { user: user } %>
								</div>
							</td>
						</tr>
				    <% end %>
				<% end %>
			</table>
		</section>
	</div>
</div>
