<% case site.id %>
	<% when 1 then %>
		<%= image_tag('image/Aurora-s.jpeg') %>
		<p class="Material-original">網走流氷破氷船おーろら （© kkawamura <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">クリエイティブ・コモンズ・ライセンス（表示4.0 国際）</a>）を改変して作成</p>
	<% when 33 then %>
		<%= image_tag('image/Goryokaku.jpeg') %>
		<p class="Material-original">桜の五稜郭 （© Goryokaku-Tower <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">クリエイティブ・コモンズ・ライセンス（表示4.0 国際）</a>）を改変して作成</p>
	<% when 13 then %>
		<%= image_tag('image/Tomamu.jpeg') %>
		<p class="Material-original">雲海テラス （© Akiko_Kubosawa <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">クリエイティブ・コモンズ・ライセンス（表示4.0 国際）</a>）を改変して作成</p>
	<% when 14 then %>
		<%= image_tag('image/Blue_pond.jpeg') %>
		<p class="Material-original">青い池 （© Akiko_Kubosawa <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">クリエイティブ・コモンズ・ライセンス（表示4.0 国際）</a>）を改変して作成</p>
	<% when 4 then %>
		<%= image_tag('image/Kamuiwakka_hot_spring_Fall.jpeg') %>
		<p class="Material-original">カムイワッカ湯の滝 （© kkawamura <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">クリエイティブ・コモンズ・ライセンス（表示4.0 国際）</a>）を改変して作成</p>
	<% when 8 then %>
		<%= image_tag('image/Lake_Ponhoro.jpeg') %>
		<p class="Material-original">幻のポンホロ沼 （© kkawamura <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">クリエイティブ・コモンズ・ライセンス（表示4.0 国際）</a>）を改変して作成</p>
	<% when 17 then %>
		<%= image_tag('image/Onneto.jpeg') %>
		<p class="Material-original">結氷したオンネトーと雌阿寒岳 （© kkawamura <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">クリエイティブ・コモンズ・ライセンス（表示4.0 国際）</a>）を改変して作成</p>
	<% when 10 then %>
		<%= image_tag('image/White_seashell_trail.jpeg') %>
		<p class="Material-original">白い貝殻の道 （© kkawamura <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">クリエイティブ・コモンズ・ライセンス（表示4.0 国際）</a>）を改変して作成</p>
	<% when 37 then %>
		<%= image_tag('image/Lake_Toya.jpeg') %>
		<p class="Material-original">洞爺湖 （© ganden <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">クリエイティブ・コモンズ・ライセンス（表示4.0 国際）</a>）を改変して作成</p>
	<% when 25 then %>
		<%= image_tag('image/Shikotu_Lake.jpeg') %>
		<p class="Material-original">静寂に包まれる支笏湖 （© Yo_Takehana <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">クリエイティブ・コモンズ・ライセンス（表示4.0 国際）</a>）を改変して作成</p>
	<% when 40 then %>
		<%= image_tag('image/Otaru_Canal.jpeg') %>
		<p class="Material-original">小樽運河(冬) （© Yo_Takehana <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">クリエイティブ・コモンズ・ライセンス（表示4.0 国際）</a>）を改変して作成</p>
	<% when 24 then %>
		<%= image_tag('image/Akarenga.jpeg') %>
	<% when 27 then %>
		<%= image_tag('image/Clock_tower.jpeg') %>
	<% when 26 then %>
		<%= image_tag('image/Susukino.jpeg') %>
	<% when 39 then %>
		<%= image_tag('image/Earth_moth.jpeg') %>
	<% when 38 then %>
		<%= image_tag('image/Factory_Night_view.jpeg') %>
	<% when 29 then %>
		<%= image_tag('image/Moiwa_Night_view.jpeg') %>
	<% when 30 then %>
		<%= image_tag('image/Moere_park.jpeg') %>
	<% when 43 then %>
		<%= image_tag('image/ravender_field.jpeg') %>
	<% when 32 then %>
		<%= image_tag('image/Kamui_moth.jpeg') %>
	<% when 7 then %>
		<%= image_tag('image/Shiretoko_1ko.jpeg') %>
		<p class="Material-original"><a href="http://photo.hokkaido-blog.com/">北海道無料写真素材集 DO PHOTO</a>から改変して作成</p>
	<% when 11 then %>
		<%= image_tag('image/Senboudai.jpeg') %>
		<p class="Material-original"><a href="http://photo.hokkaido-blog.com/">北海道無料写真素材集 DO PHOTO</a>から改変して作成</p>
	<% when 18 then %>
		<%= image_tag('image/Kushiro_shitugen.jpeg') %>
		<p class="Material-original"><a href="http://photo.hokkaido-blog.com/">北海道無料写真素材集 DO PHOTO</a>から改変して作成</p>
	<% when 3 then %>
		<%= image_tag('image/kaminokoike.jpeg') %>
		<p class="Material-original"><a href="http://photo.hokkaido-blog.com/">北海道無料写真素材集 DO PHOTO</a>から改変して作成</p>
	<% when 20 then %>
		<%= image_tag('image/mashuuko.jpeg') %>
		<p class="Material-original"><a href="http://photo.hokkaido-blog.com/">北海道無料写真素材集 DO PHOTO</a>から改変して作成</p>
	<% when 15 then %>
		<%= image_tag('image/akanko.jpeg') %>
		<p class="Material-original"><a href="http://photo.hokkaido-blog.com/">北海道無料写真素材集 DO PHOTO</a>から改変して作成</p>
	<% when 9 then %>
		<%= image_tag('image/souyamisaki.jpeg') %>
		<p class="Material-original"><a href="http://photo.hokkaido-blog.com/">北海道無料写真素材集 DO PHOTO</a>から改変して作成</p>
	<% when 34 then %>
		<%= image_tag('image/Hakodateyama.jpeg') %>
		<p class="Material-original">函館山 （© 洞内定晴 <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">クリエイティブ・コモンズ・ライセンス（表示4.0 国際）</a>）を改変して作成</p>
	<% when 22 then %>
		<%= image_tag('image/Taushubetsu_River_Bridge.jpeg') %>
		<p class="Material-original">旧国鉄士幌線　タウシュベツ川橋梁 （© 上士幌町 <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">クリエイティブ・コモンズ・ライセンス（表示4.0 国際）</a>）を改変して作成</p>
	<% when 6 then %>
		<%= image_tag('image/Shuen_iseki.jpeg') %>
	<% when 41 then %>
		<%= image_tag('image/erimomisaki.jpeg') %>
		<p class="Material-original"><a href="http://photo.hokkaido-blog.com/">北海道無料写真素材集 DO PHOTO</a>から改変して作成</p>
	<% when 2 then %>
		<%= image_tag('image/oshinkoshinnotaki.jpeg') %>
		<p class="Material-original"><a href="http://photo.hokkaido-blog.com/">北海道無料写真素材集 DO PHOTO</a>から改変して作成</p>
	<% when 19 then %>
		<%= image_tag('image/Nusamai_bridge.jpeg') %>
		<p class="Material-original"><a href="http://www.kushiro.pref.hokkaido.lg.jp/ss/srk/kanko/ksrphoto.htm">北海道釧路総合振興局商工労働観光課</a>から改変して作成</p>
	<% when 5 then %>
		<%= image_tag('image/kinuaneppu.jpeg') %>
		<p class="Material-original"><a href="http://photo.hokkaido-blog.com/">北海道無料写真素材集 DO PHOTO</a>から改変して作成</p>
	<% when 23 then %>
		<%= image_tag('image/Obihiro_keiba.jpeg') %>
	<% else %>
			<%= image_tag('image/No_image.jpeg', class: "NoImage") %>
		<p class="No_photo">No Image...</p>
		<p class="Material-original"><a href="https://www.pakutaso.com" title="フリー写真素材ぱくたそ" >フリー写真素材ぱくたそ </a></p>
	<% end %>