<h1 class="site-title"><%= @site.name %></h1>

<div class="post-box clearfix" id="show-site">
	<% if @post_image.image_id? %>
		<%= attachment_image_tag @post_image, :image, :fill, 1024, 500, format: 'jpeg'%>
	<% else %>
		<div class="site-photo1">
			<%= render 'sites/site', site: @site  %>
		</div>
	<% end %>

	<h3>spot</h3>
	<div id="map"></div>

	<script>
	function initMap(latlng) {
	  var map = new google.maps.Map(document.getElementById('map'), {
	    center: latlng,
	    zoom: 16
	  });

	  var marker = new google.maps.Marker({
	    position: latlng,
	    map: map
	  });
	}

	function getLatLng() {
	  var geocoder = new google.maps.Geocoder();

	  geocoder.geocode({
	    address: "<%= @site.address %>"
	  }, function(results, status) {
	    if (status == google.maps.GeocoderStatus.OK) {
	      for (var i in results) {
	        if (results[i].geometry) {
	          var latlng = results[i].geometry.location;
	          initMap(latlng)
	        }
	      }
	    }
	  });
	}
	</script>

	<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_API'] %>&callback=getLatLng"
	async defer></script>

	<h3>post</h3>
	<%= form_for([@site, @post_image]) do |f| %>
		<div class="photo-post">
			<p>* 加工していない、ありのままの写真を投稿しよう！</p>
			<%= f.attachment_field :image %>
			<%= f.text_area :comment, placeholder: "撮影時の感想を書いてね！" %>
			<div class="arrow">
  				<p>カメラをクリックで投稿！</p>
			</div>
		</div>
		<div class="camera-mark" id="camera">
			<%= image_submit_tag "image/カメラアイコン8.jpeg" %>
		</div>
	<% end %>

</div>