<h1 class="post_image-title"><%= @site.name %></h1>

<div class="post-box clearfix" id="show-post_image">

	<%= attachment_image_tag @post_image, :image, :fill, 1024, 500, format: 'jpeg'%>

	<% if @post_image.user_id == current_user.id %>

		<div id="favorites_buttons_<%= @post_image.id %>">
 			<%= render partial: 'post_images/favorite', locals: { post_image: @post_image } %>
		</div>


		<div class="comment-box">
			<h4>comment</h4>
			<%= @post_image.comment %>
		</div>

		<div class="spot">
			<h3>spot<span><%= @site.address %></span></h3>
			<div id="map-2"></div>

			<script>
			function initMap(latlng) {
			  var map = new google.maps.Map(document.getElementById('map-2'), {
			    center: latlng,
			    zoom: 6
			  });

			  var marker = new google.maps.Marker({
			    position: latlng,
			    map: map
			  });
			}

			function getLatLng() {
			  var geocoder = new google.maps.Geocoder();

			  geocoder.geocode({
			    address: "<%= @site.address %>"
			  }, function(results, status) {
			    if (status == google.maps.GeocoderStatus.OK) {
			      for (var i in results) {
			        if (results[i].geometry) {
			          var latlng = results[i].geometry.location;
			          initMap(latlng)
			        }
			      }
			    }
			  });
			}
			</script>

			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCU0j2ku0aK7diV25c4Bf6Y2kz3r1Mkw10&callback=getLatLng"
			async defer></script>
		</div>
		<div class="info-content">
			<h3>message</h3>
			<div class="content">
				<% @post_image.post_comments.each do |post_comment| %>
		            <div class="comment-user">
		            	<% if post_comment.user.image_id? %>
							<%= attachment_image_tag post_comment.user, :image, :fill, 50, 50, format: 'jpeg' %>
						<% else %>
							<%= image_tag('image/no-image.png', style: "width: 50px; height: 50px;") %>
						<% end %>
		            	<%= post_comment.user.name %>
		            	<span><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
		            </div>
		            <div class="balloon2"><p><%= post_comment.comment %></p></div>
		    	<% end %>
			</div>
	    </div>
	<% else %>
		<div id="favorites_buttons_<%= @post_image.id %>">
 			<%= render partial: 'post_images/favorite', locals: { post_image: @post_image } %>
		</div>

		<h3>talk</h3>
		<div class="comment clearfix">
			<div class="comment-form">
				<%= form_for([@site, @post_image, @post_comment]) do |f| %>
					<%= f.text_area :comment, rows:'3', class: "form-control",placeholder: "コメントをここに" %>
					<%= f.submit "送信する", class: "btn btn-lg btn-info btn-base-1 mt-20 " %>
				<% end %>
			</div>
			<div class="comment-index">
				<% @post_image.post_comments.each do |post_comment| %>
		            <div class="comment-user">
		            	<% if post_comment.user.image_id? %>
							<%= attachment_image_tag post_comment.user, :image, :fill, 50, 50, format: 'jpeg' %>
						<% else %>
							<%= image_tag('image/no-image.png', style: "width: 50px; height: 50px;") %>
						<% end %>
		            	<%= post_comment.user.name %>
		            	<span><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
		            </div>
		            <div class="balloon2"><p><%= post_comment.comment %></p></div>
		    	<% end %>
		    </div>
		</div>
	<% end %>
</div>