<!DOCTYPE html>
<html>
  <head>
    <title>SiteGet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="wrapper">
    <header>
      <% if user_signed_in? %>
        <nav>
          <ul class="menu clearfix">
            <li class="post-menu">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">投稿する <b class="caret"></b></a>
                <ul class="dropdown-menu multi-level">
                  <li class="dropdown-submenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">道北</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">宗谷</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "宗谷丘陵", site_path(id: 10) %></li>
                          <li><%= link_to "宗谷岬", site_path(id: 9) %></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">留萌</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "黄金岬", site_path(id: 12) %></li>
                          <li><%= link_to "千望台", site_path(id: 11) %></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">上川</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "青い池", site_path(id: 14) %></li>
                          <li><%= link_to "雲海テラス　トマム", site_path(id: 13) %></li>
                        </ul>
                      </li>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">道東</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">オホーツク</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "網走の流氷", site_path(id: 1) %></li>
                          <li><%= link_to "オシンコシンの滝", site_path(id: 2) %></li>
                          <li><%= link_to "神の子池", site_path(id: 3) %></li>
                          <li><%= link_to "カムイワッカ湯の滝", site_path(id: 4) %></li>
                          <li><%= link_to "キムアネップ岬", site_path(id: 5) %></li>
                          <li><%= link_to "朱円周堤墓群", site_path(id: 6) %></li>
                          <li><%= link_to "知床五湖", site_path(id: 7) %></li>
                          <li><%= link_to "ポンホロ沼", site_path(id: 8) %></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">釧路</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "阿寒湖", site_path(id: 15) %></li>
                          <li><%= link_to "阿寒湖　アイヌコタン", site_path(id: 16) %></li>
                          <li><%= link_to "オンネトー湖", site_path(id: 17) %></li>
                          <li><%= link_to "釧路湿原国立公園", site_path(id: 18) %></li>
                          <li><%= link_to "幣舞橋", site_path(id: 19) %></li>
                          <li><%= link_to "摩周湖", site_path(id: 20) %></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">根室</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "明治公園", site_path(id: 21) %></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">十勝</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "帯広競馬場", site_path(id: 23) %></li>
                          <li><%= link_to "タウシュベツ川橋梁", site_path(id: 22) %></li>
                        </ul>
                      </li>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">道央</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">石狩</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "札幌市時計台", site_path(id: 27) %></li>
                          <li><%= link_to "支笏湖", site_path(id: 25) %></li>
                          <li><%= link_to "ススキノ交差点", site_path(id: 26) %></li>
                          <li><%= link_to "北海道庁旧本庁舎", site_path(id: 24) %></li>
                          <li><%= link_to "真駒内滝野霊園", site_path(id: 28) %></li>
                          <li><%= link_to "藻岩山展望台　夜景", site_path(id: 29) %></li>
                          <li><%= link_to "モエレ沼公園", site_path(id: 30) %></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">空知</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "トトロ峠", site_path(id: 31) %></li>
                          <li><%= link_to "ラベンダー畑ほか", site_path(id: 43) %></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">後志</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "小樽運河", site_path(id: 40) %></li>
                          <li><%= link_to "神威岬", site_path(id: 32) %></li>
                        </ul>
                      </li>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">道南</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">渡島</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "五稜郭", site_path(id: 33) %></li>
                          <li><%= link_to "函館山展望台　夜景", site_path(id: 34) %></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">檜山</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "かもめ島", site_path(id: 35) %></li>
                          <li><%= link_to "旧檜山爾志郡役所", site_path(id: 36) %></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">胆振</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "洞爺湖", site_path(id: 37) %></li>
                          <li><%= link_to "室蘭　工場夜景ほか", site_path(id: 38) %></li>
                          <li><%= link_to "地球岬", site_path(id: 39) %></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">日高</a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "襟裳岬", site_path(id: 41) %></li>
                          <li><%= link_to "緑の海岸", site_path(id: 42) %></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
            <li class="logo">Site-Get<%= fa_icon("ravelry") %></li>

            <%= link_to destroy_user_session_path, method: :delete do %>
              <li class="header-var">Log out</li>
            <% end %>
            <%= link_to sites_path do %>
              <li class="header-var">Info</li>
            <% end %>
            <%= link_to users_path do %>
              <li class="header-var">一覧</li>
            <% end %>
            <%= link_to user_path(current_user.id) do %>
              <li class="header-var">Mypage</li>
            <% end %>
          </ul>
        </nav>
      <% else %>
        <nav>
          <ul class="clearfix">
            <li class="logo">Site-Get<%= fa_icon("ravelry") %></li>
            <%= link_to new_user_session_path do %>
              <li class="header-var">Log in</li>
            <% end %>
            <%= link_to new_user_registration_path do %>
              <li class="header-var">Sign up</li>
            <% end %>
            <%= link_to root_path do %>
              <li class="header-var">Home</li>
            <% end %>
          </ul>
        </nav>
      <% end %>
    </header>
    <% if flash[:notice] %>
      <div class=""><%= flash[:notice] %></div>
    <% end %>
    <main>
      <% if user_signed_in? %>
        <%= breadcrumbs pretext: "", separator: " &rsaquo; " %>
      <% end %>
      <%= yield %>
    </main>
    <footer>
      <p>Site-Get.com</p>
    </footer>
  </div>
  <script type="text/javascript" src="js/jrumble.1.0.js"></script>
  </body>
</html>
